@font-face {
    font-family: "Varela Round";
    src: url("../font/VarelaRound-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Blokletters Balpen";
    src: url("../font/Blokletters/Blokletters-Balpen.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Blokletters Viltstift";
    src: url("../font/Blokletters/Blokletters-Viltstift.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Karla";
    src: url("../font/Karla/Karla-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Karla";
    src: url("../font/Karla/Karla-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Karla";
    src: url("../font/Karla/Karla-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Karla";
    src: url("../font/Karla/Karla-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
