@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');

@font-face {
    font-family: "Blokletters Balpen";
    src: url('../font/Blokletters/Blokletters-Balpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Blokletters Viltstift";
    src: url('../font/Blokletters/Blokletters-Viltstift.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Varela Round", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
